<div class="midwidth">
  <div class="data-form">
    <form action="/users/register" method="POST">
      <h2>Register:</h2>
      <label for="inputName">Name</label>
      <input class="form-control" type="name" name="name" id="inputName" placeholder="Name" required>
      <label for="inputEmail">Email address</label>
      <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email address" required>
      <label for="inputPassword">Password</label>
      <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
      <label for="inputPassword">Confirm Password</label>
      <input class="form-control" type="password" name="confirmPassword" id="inputComfirmPassword" placeholder="Confirm Password" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
  </div>
</div>
